<% provide(:title, 'Help') %>
<div class="center hero-unit">
    <h1>Help</h1>
    <p>
      Functionalities of the app:
      <li>Tweet your heart out</li>
      <li>Follow users</li>
      <li>People can also follow you</li>
      <li>Yo shit shows up on their page</li>
      <li>Their sh*t shows up on your page</li>
    </p>
</div>