<% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'users/forms/unfollow' %>
  <% else %>
    <%= render 'users/forms/follow' %>
  <% end %>
  </div>
<% end %>